<h3>Add Article:</h3>
<form ng-submit="ArticlesFactory.addArticle()" role="form">
  <div class="form-group">
    <input type="text" ng-model="ArticlesFactory.articleName" class="form-control" placeholder="name">
  </div>
  <div class="form-group">
    <input type="text" ng-model="ArticlesFactory.linkName" class="form-control" placeholder="link (e.g. www.google.com)">
  </div>
  <button type="submit" class="btn btn-danger">Add</button>
</form>


<div ng-show="articles.length">
  <h3>Articles - Read at your own risk:</h3>
  <ol>
    <li ng-repeat="item in articles">
      <a href="{{item.link}}">{{item.name}}</a>
      <a ui-sref="articles.comments({ articleId: item.id})">--{{item.comments.length}} comments--</a>
    </li>
  </ol>
</div>

<div ui-view></div>
