<h3>Add Article:</h3>
<form ng-submit="ArticlesFactory.addArticle()" role="form">
  <div class="form-group">
    <input type="text" ng-model="ArticlesFactory.articleName" class="form-control" placeholder="name">
  </div>
  <div class="form-group">
    <input type="text" ng-model="ArticlesFactory.linkName" class="form-control" placeholder="link (e.g. www.google.com)">
  </div>
  <button type="submit" class="btn btn-danger">Add</button>
</form>


<div ng-show="articles.length">
  <h3>Articles - Read at your own risk:</h3>
  <ol>
    <li ng-repeat="item in articles">
      <div class="post">
        <p><button ng-click="ArticlesFactory.upVote(item)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        <a href="{{item.link}}">{{item.name}}</a> | ({{item.link}})</p>
        <p><a ui-sref="articles.comments({ articleId: item.id})">--{{item.comments.length}} comments--</a>
         | votes: {{item.votes}}</p>
      </div>
    </li>
  </ol>
</div>

<div ui-view></div>
